{% extends 'base.html' %}
{% block title %}Teilnehmer{% endblock %}
{% block content %}
<h1>Table Quiz</h1>
<div id="question_box"></div>

<script>
let contestantId = localStorage.getItem('contestantId');
if (!contestantId) {
    contestantId = crypto.randomUUID();
    localStorage.setItem('contestantId', contestantId);
}

function loadActiveQuestion() {
    fetch('/get_active_question')
        .then(res => {
            if (!res.ok) {
                document.getElementById('question_box').innerHTML = "Warte auf die nächste Frage...";
                return null
            }
            return res.text();
        })
        .then(html => {
            if (html) {
                document.getElementById('question_box').innerHTML = html;
            }
        });
}

// On page load, try to load the current question
window.addEventListener('DOMContentLoaded', loadActiveQuestion);
// Connect to the WebSocket server
const socket = new WebSocket(`ws://${window.location.host}/ws`);

socket.onmessage = function(msg) {
    console.log('WebSocket message received:', msg);
    const data = JSON.parse(msg.data);
    switch (data.msg) {
        case 'allow_answers_changed':
        case 'active_question_changed':
            document.getElementById('question_box').innerHTML = data.html;
            loadActiveQuestion();
            break;
        default:
            console.warn('Unknown message type:', data.msg);
    }
};
socket.onclose = function(event) {
    wsError(event);
};
socket.onerror = function(error) {
    wsError(error);
};

function wsError(error) {
    console.error('WebSocket error:', error);
    document.getElementById('question_box').innerHTML = "Fehler beim Verbinden zum Server. Bitte aktualisiere die Seite.";
}
</script>
{% endblock %}
